body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 2.0rem;
  line-height: 1.6em;
  color: #3A4145;
}
p, ul, ol, dl {
  margin: 1.6em 0;
}
h1, h2, h3, h4, h5, h6 {
  text-rendering: optimizeLegibility;
  line-height: 1;
  margin-top: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}
h1 {
  font-size: 5rem;
  line-height: 1.2em;
  letter-spacing: -2px;
  text-indent: -3px;
}
h2 {
  font-size: 4rem;
  line-height: 1.2em;
  letter-spacing: -1px;
  text-indent: -2px;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: #50585D;
}
a {
  color: #4a4a4a;
  transition: color ease 0.3s;
  text-decoration: underline;
}
a:hover {
  color: #57A3E8;
}
.site-head {
  background: #303538 no-repeat center center;
  background-size: cover;
  color: #FFFFFF;
  height: 300px;
  padding-top: 40px;
}
.blog-title {
  margin: 10px 0 10px 0;
  font-size: 5rem;
  letter-spacing: -1px;
  font-weight: bold;
}
.blog-description {
  margin: 0;
  font-size: 2.4rem;
  line-height: 1.5em;
  font-weight: 300;
  font-family: 'Source Sans Pro', sans-serif;
  letter-spacing: 0;
  background: rgba(50,50,50,0.8);
}
.post-header {
  margin: 15px;
}
.post-meta {
  display: inline-block;
  margin: 0 0 5px 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5rem;
  color: #9EABB3;
}
.post-meta a {
  text-decoration: none;
}
.post-title {
  margin: 0 0 30px;
}
.post-title a {
  text-decoration: none;
}
.post-content img, .post-excerpt img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
  height: auto;
}
.post-footer h4 {
  font-size: 1.8rem;
  margin: 0;
}
.post-footer .share a {
  font-size: 1.8rem;
  display: inline-block;
  margin: 1.4rem 1.6rem 1.6rem 0;
  color: #BBC7CC;
  text-decoration: none;
}

.pageSelector {
  position: relative;
  width: 80%;
  max-width: 700px;
  margin: 4rem auto;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.3rem;
  color: #9EABB3;
}
.pageSelector a {
    color: #9EABB3;
}

.site-footer {
  margin: 8rem 0 0 0;
  padding: 4rem 0;
  border-top: #EBF2F6 1px solid;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.3rem;
  line-height: 1.7em;
  color: #BBC7CC;
  text-align: center;
  background: #F7FAFB;
}
.site-footer a {
  color: #BBC7CC;
  text-decoration: underline;
}
.footer-nav {
  margin-bottom: 15px;
}
.footer-nav a {
  margin: 0 15px;
  font-size: 2rem;
}
.subscribe {
  width: 28px;
  height: 28px;
  margin-left: -15px;
  text-align: center;
  line-height: 2.4rem;
  border-radius: 50px;
  transition: box-shadow 0.5s;
  text-decoration: none !important;
}

.sidebar {
  margin-top: 40px;
}
.sidebar h3 {
  margin: 40px 0px;
}
.widget {
  margin-top: 20px;
}

/* highlighing */
::-moz-selection {
  color: #222;
  background: #D6EDFF;
  text-shadow: none;
}

::selection {
  color: #222;
  background: #D6EDFF;
  text-shadow: none;
}
/* highlighing */

/* icon font */
@font-face {
  font-family: 'icons';
  src:url('../fonts/icons.eot');
  src:url('../fonts/icons.eot?#iefix') format('embedded-opentype'),
    url('../fonts/icons.woff') format('woff'),
    url('../fonts/icons.ttf') format('truetype'),
    url('../fonts/icons.svg#icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* Apply these base styles to all icons */
.icon-feed:before, 
.icon-twitter:before, 
.icon-google-plus:before, 
.icon-facebook:before {
  font-family: 'icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  text-decoration: none;
}

/* Each icon is created by inserting the corret character into the 
   content of the :before pseudo element. Like a boss. */
.icon-feed:before {
  content: "\e001";
}
.icon-twitter:before {
  content: "\e002";
  font-size: 1.1em;
}
.icon-google-plus:before {
  content: "\e003";
}
.icon-facebook:before {
  content: "\e004";
}
/* icon font */

/* custom styles */

/* search widget */
#searchResults {
  margin-top: 20px;
}
#searchResults a {
  line-height: 35px;
}
/* search widget */

/* form */
form input,
form textarea,
form button {
  display: block;
  margin-bottom: 20px;
}
/* form */
