<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <title>{{site.title}}</title>
    <meta name="description" content="{{meta_description}}" />

    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="{{site.baseurl}}/bower_components/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="{{site.baseurl}}/assets/css/code.css">
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/solarized.css">
    <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/assets/css/styles.css" />

    <script type="text/javascript" src="{{site.baseurl}}/bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="{{site.baseurl}}/bower_components/handlebars/handlebars.min.js"></script>
    <script type="text/javascript" src="{{site.baseurl}}/bower_components/firebase/firebase.js"></script>
    <script type="text/javascript" src="{{site.baseurl}}/assets/js/jquery.fitvids.js"></script>
    <script type="text/javascript" src="{{site.baseurl}}/assets/js/lunr.min.js"></script>
    <script type="text/javascript" src="{{site.baseurl}}/search.js"></script>
    <script type="text/javascript" src="{{site.baseurl}}/assets/js/index.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300' rel='stylesheet' type='text/css'>
</head>
<body>

    {{content}}

    <footer class="col-md-12 site-footer" {% if site.data.blog.cover %}style="background-image: url({{site.baseurl}}{{site.data.blog.cover}})"{% endif %}>
        <div class="text-center footer-nav">
            <a href="/">Home</a>
            <a href="/recommendations">Recommendations</a>
            <a href="/about">About</a>
            <a href="https://github.com/aharris88/ama" target="_blank">Contact</a>
        </div>
        <div class="text-center footer-message">
            <a class="subscribe icon-feed" href="http://feeds.feedburner.com/AdamHarris"></a>
        </div>
    </footer>
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', '{{site.google_analytics_code}}', '{{site.google_analytics_url}}');
        ga('send', 'pageview');
    </script>
</body>
</html>
